@media screen and (min-width: 1024px) {  
  .header {
    width: 753px;
    height: 98px;
    margin: 100px 48px 44px;
    font-size: 54px;
    line-height: 90%;
  }
    
  form {
    min-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 120px;
  }
    
  .inner-sign {
    height: 36px;
    right: 16px;
    top: 16px;
    font-size: 30px;
    line-height: 120%;
  }
    
  .input-el {
    margin-bottom: 32px;
  }
    
  .input-title,
  .result-title {
    font-size: 16px;
    line-height: 125%;
  }
    
  .input-field {
    margin-top: 24px;
    margin-bottom: 7px;
    padding: 16px 24px;
    width: 100%;
    height: 68px;
    border-radius: 16px;
    color: #575757;
    font-size: 30px;
    line-height: 120%;
  }
    
  .input-field-small {
    right: 7px;
    top: 7px;
    width: 70px;
    height: 54px;
    padding-left: 15px;
    border-radius: 16px;
    color: #575757;
    font-size: 20px;
    line-height: 120%;
  }
    
  .inner-sign-small {
    top: 22px;
    right: 19px;
    color: #575757;
    text-align: center;
    font-size: 20px;
    line-height: 120%;
  }
  
  input[type="range"] {
    top: 64px;
    left: 24px;
    width: 812px;
    -webkit-appearance: none;
  }
    
  @-moz-document url-prefix() {
    input[type="range"] {
      top: 56px;
      background: none;
    }
  }
    
  input[type="range"].w-short {
    width: 631px;
  }
    
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    
  .result-item {
    width: auto;
    height: 81px;
  }
    
  .gap {
    column-gap: 201px;
    row-gap: 44px;
  }
    
  .result-field {
    margin-top: 8px;
    font-size: 54px;
    line-height: 90%;
  }
  
  button {
    width: 345px;
    height: 68px;
    border-radius: 40px;
    padding: 14px 52px 18px;
    font-size: 30px;
    line-height: 120%;
  }

  button:hover {
    background-color: #111111;
    cursor: pointer;
  }

  button:active {
    background-color: #575757;
  }
    
  button:disabled {
    background: rgba(255, 149, 20, 0.4)
  }
}
